<tr class="<!--TAG-CHP Class-->" onMouseOver="Ligne_Over(this)" onMouseOut="Ligne_Out(this)" onClick="Ligne_Click(this)">
	<td align="center" class="normal"><!--TAG-CHP Classement--></td>
	<td class="normal" title="<!--TAG-CHP Nom--> <!--TAG-CHP Prenom-->"><!--TAG-CHP Pseudo--></td>
	<td class="normal" align="center"><!--TAG-CHP Points--></td>
	<td class="normal" align="center"><!--TAG-CHP Bonus--></td>
	<td class="normal" align="center"><!--TAG-CHP Malus--></td>
	<td class="normal" align="center"><!--TAG-CHP Difference--></td>
	<td class="normal" align="center"><!--TAG-CHP Mouvement--></td>
	<td class="normal" align="center"><!--TAG-CHP EtatFilRouge--></td>
</tr>