<tr id="ligneProno_<!--TAG-CHP Id-->" class="<!--TAG-CHP Class-->" onMouseOver="Ligne_Over(this)" onMouseOut="Ligne_Out(this)" onClick="Ligne_Click(this)">
	<td class="normal" nowrap><!--TAG-CHP Nom-->&nbsp;<!--TAG-CHP Prenom--></td>
	<!--TAG-BLC Prono-->
	<td align="center"><!--TAG-CHP EtatFilRouge--></td>
	<td class="normal" align="center"><input type="checkbox" class="checkbox" name="cbAveugle_<!--TAG-CHP Id-->" onClick="cbAveugle_Change(this)"<!--TAG-CHP checkedAveugle-->></td>
	<td class="normal" align="center"><input type="checkbox" class="checkbox" name="cbFilRouge_<!--TAG-CHP Id-->"<!--TAG-CHP checkedFilRouge-->></td>
</tr>