<table border="0" width="900" cellspacing="0">
	<tr class="EnTeteGrille">
		<td>&nbsp;</td>
		<!--TAG-BLC LigneMatch-->
		<td align="center">Fil<br>rouge</td>
	</tr>
	<!--TAG-BLC LigneUtilisateur-->
	<tr class="ligneEspace">
		<td colspan="12"><img src="Images/dot.gif" height="3" width="1" /></td>
	</tr>
	<tr class="ligneVictoire">
		<td>Victoires&nbsp;pronostiquées</td>
		<!--TAG-BLC Victoire-->
		<td>&nbsp;</td>
	</tr>
	<tr class="ligneNul">
		<td>Nuls&nbsp;pronostiqués</td>
		<!--TAG-BLC Nul-->
		<td>&nbsp;</td>
	</tr>
	<tr class="ligneDefaite">
		<td>Défaites&nbsp;pronostiquées</td>
		<!--TAG-BLC Defaite-->
		<td>&nbsp;</td>
	</tr>
</table>
