	<tr>
		<td align="right">
			<select name="lbEquipe" style="width:120px;" onChange="ChangeEquipe(this)">
				<option value="0">&nbsp;</option>
				<!--TAG-BLC OptionEquipe-->
			</select>
		</td>
		<td align="center"> - </td>
		<td>
			<select name="lbVisiteur" style="width:120px;"></select>
		</td>
		<td>
			<table>
				<tr>
					<td><a id="lbValidMatch" href="javascript:Valid('lbValidMatch_Click')">valid</a></td>
					<td><a href="?Id=<!--TAG-CHP IdJournee-->">annul</a></td>
				</tr>
			</table>
		</td>
	</tr>