<html>
<head>
<script language="javascript" src="scriptaculous-js-1.8.1/lib/prototype.js"></script>
<script language="javascript" src="Menu.js"></script>
<script language="javascript" src="Util.js"></script>
<script language="javascript" type="text/javascript" >
largeur_menu=110;
largeur_sous_menu=150;
top_ssmenu=45;
</script>
<link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
<table width="100%" height="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="20" style="border-right:1px solid #E31212;"><img src="Images/dot.gif" width="20"></td>
		<td valign="top" align="center" style="border-top:1px solid #E31212;background-color:#EFECEA;">
			<table width="100%" class="Menu1">
				<tr>
					<td align="center" width="700">
						&nbsp;
					</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td align="center">
						<br>
		
<!--<font color="#FF0000"><b>En cours de mise à jour.</b></font>-->		
<form name="FORMNAME" method="POST">